* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* flex */
.flex {
    display: flex;
    justify-content: center;
}



.header, .hero, .main, .footer, .banner, .domande, .prova{
    width: 100%;
    
    padding: 20px;
    
    
}


 /* HEADER */
.header {
    background-color: blue
}


/* HERO */
.hero {
    background-color: red
}


/* MAIN */
.main {
    background-color: orange
   }

   /* CONTENITORE MAIN */

.container {
    border: 1px dashed black;
    width: 60%;
    /* debug */
    height: 100px;

}

/* SEZIONE 1 MAIN */
 



/* BANNER */

.banner {
    background-color: greenyellow;
}

/* PROVA */

.prova {
    background-color: palevioletred;
}

/* DOMANDE */

.domande {
    background-color: pink;
}


/* FOOTER */
.footer {
    background-color: green;
  
}



