* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* flex */
.flex {
    display: flex;
    justify-content: center;
    
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


/* default */

.header,
.hero,
.main,
.footer,
.banner,
.domande,
.prova {
    width: 100%;

    padding: 20px;


}


/* HEADER */
.header {
    background-color: blue
}


/* HERO */
.hero {
    background-color: red
}


/* MAIN */
.main {
    background-color: orange
}

/* CONTENITORE MAIN */

.container {
    border: 1px dashed black;
    width: 40%;
    /* debug */
    height: 100%;

}

/* SEZIONE 1 MAIN */

.piano-business {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}


/* SEZIONE 2 MAIN, COLONNE */

.col {
    display: flex;
    justify-content: space-between;

    /* debug */
    height: 40px;
    border: 1px solid blue;

}

.col1 {
    width: 33%;
    margin: 1px;
    border: 1px dashed black;

}

.col2 {
    border: 1px dashed black;
    width: 33%;
    margin: 1px;
}

.col3 {
    border: 1px dashed black;
    width: 33%;
    margin: 1px;
}


/* SEZIONE TEAM 3 , CONTATTA */
.contatta {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}

/* SEZIONE 4 TROVA PARTNER */
.partner {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}


/* SEZIONE 5 OPERAZIONI */
.operazioni-business {

    
    /* debug */
    height: 100px;
    border: 1px solid blue;
}



.col-wrap {
    /* debug */
    flex: 0 0 calc(33.333% - 5px); 
    margin: 1px;
    border: 1px dashed black;
}

/* SEZIONE 6 SCOPRI DI PIU */
.scopri {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}




/* BANNER */

.banner {
    height: 450px;
    background-color: greenyellow;
  
}

.banner-left {
    flex: 0 0 calc(33% - 1px); 
    margin: 1px;
    border: 1px dashed black;
    
}

.banner-center {
    flex: 0 0 calc(33% - 1px); 
    margin: 1px;
    border: 1px dashed black;
}

.banner-right {
    flex: 0 0 calc(33% - 1px); 
    margin: 1px;
    border: 1px dashed black;
}


/* PROVA */

.prova {
    background-color: palevioletred;
}

.inizia-prova {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}

/* DOMANDE */

.domande {
    background-color: pink;
}

.domande-frequenti {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}


/* FOOTER */
.footer {
    background-color: green;

}