* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* flex */
.flex {
    display: flex;
    justify-content: center;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* default */

.header,
.hero,
.main,
.footer,
.banner,
.domande,
.prova {
    width: 100%;

    padding: 10px;


}


/* HEADER */
.header {
    background-color: blue
}


/* HERO */
.hero {
    background-color: red
}


/* MAIN */
.main {
    background-color: orange
}

/* CONTENITORE MAIN */

.container {
 
    width: 40%;
    /* debug */
    height: 100%;
    background-color: aqua;
    
}

/* SEZIONE 1 MAIN */

.piano-business {
    /* debug */
    height: 100px;
    background-color: rgb(84, 238, 187);
}


/* SEZIONE 2 MAIN, COLONNE */

.col {
    display: flex;
    justify-content: space-between;

    /* debug */
    background-color: rgb(149, 250, 250);
    height: 100px;
    

}

.col1 {
    width: 33%;
    margin: 1px;
    border: 1px dashed black;

}

.col2 {
    border: 1px dashed black;
    width: 33%;
    margin: 1px;
}

.col3 {
    border: 1px dashed black;
    width: 33%;
    margin: 1px;
}


/* SEZIONE TEAM 3 , CONTATTA */
.contatta {
    /* debug */
    height: 100px;
    background-color: rgb(55, 206, 155);
}

/* SEZIONE 4 TROVA PARTNER */
.partner {
    /* debug */
    height: 100px;
    background-color: rgb(13, 184, 184);
}


/* SEZIONE 5 OPERAZIONI */
.operazioni-business {


    /* debug */
    height: 100px;
    background-color:rgb(15, 172, 172)a;
}



.col-wrap {
    /* debug */
    flex: 0 0 calc(33.333% - 5px);
    margin: 1px;
    border: 1px dashed black;
}

/* SEZIONE 6 SCOPRI DI PIU */
.scopri {
    /* debug */
    height: 100px;
    background-color: rgb(29, 224, 127);
}




/* BANNER */

.banner {
    height: 450px;
    background-color: greenyellow;

}

/* banner left part */

.banner-left {
    flex: 0 0 calc(33% - 1px);
    margin: 1px;
    border: 1px dashed black;
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

/* sponsor left part */

.sponsor1 {
    width: calc(50% - 2px); 
    height: calc(50% - 2px); 
    /*debug */
    margin: 1px;
    border: 1px solid black;
}

.sponsor2 {
    width: calc(50% - 2px); 
    height: calc(50% - 2px); 
    /* debug */
    margin: 1px;
    border: 1px solid black;
}

.sponsor3 {
    width: calc(50% - 2px); 
    height: calc(50% - 2px); 
    /* debug */
    margin: 1px;
    border: 1px solid black;
}

.sponsor4 {
    width: calc(50% - 2px); 
    /* debug */
    margin: 1px;
    border: 1px solid black;
}





.banner-center {
    flex: 0 0 calc(33% - 1px);
    margin: 1px;
    border: 1px dashed black;
}



/* banner right part */

.banner-right {
    flex: 0 0 calc(33% - 1px);
    margin: 1px;
    border: 1px dashed black;
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}


/* sponsor right part */

.sponsor5 {
    width: calc(50% - 2px); 
    height: calc(50% - 2px); 
    /*debug */
    margin: 1px;
    border: 1px solid black;
}

.sponsor6 {
    width: calc(50% - 2px); 
    height: calc(50% - 2px); 
    /* debug */
    margin: 1px;
    border: 1px solid black;
}

.sponsor7 {
    width: calc(50% - 2px); 
    height: calc(50% - 2px); 
    /* debug */
    margin: 1px;
    border: 1px solid black;
}

.sponsor8 {
    width: calc(50% - 2px); 
    /* debug */
    margin: 1px;
    border: 1px solid black;
}


/* PROVA */

.prova {
    background-color: palevioletred;
}

.inizia-prova {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}

/* DOMANDE */

.domande {
    background-color: pink;
}

.domande-frequenti {
    /* debug */
    height: 40px;
    border: 1px solid blue;
}


/* FOOTER */
.footer {
    background-color: green;

}